@import 'tailwindcss';

@theme {
  /* ពណ៌សម្រាប់ Sidebar និង Header ដូច POS */
  --color-sidebar-bg: #10b981;    /* Emerald 500 */
  --color-bg-body: #f1f5f9;       /* Slate 100 */
  --color-card-bg: #ffffff;       /* White */
  --color-text-main: #1e293b;     /* Slate 800 */
}

body {
  background-color: var(--color-bg-body);
  font-family: 'Inter', sans-serif;
  color: var(--color-text-main);
}